@media screen and (min-width: 1200px) { 
    .slick-slider .slick-dots {
        position: absolute;
        bottom: 15px;
    }
    body {
        font-size: 28px;
    }
}

@media screen and (min-width: 1024px) { 
    body {
        font-size: 22px;
    }
}

@media screen and (max-width: 1024px) { 
    .gallery-item {
        width: 33.333%;
        height: 150px;
    }
}

@media screen and (min-width: 650px) { 
    .sign-in {
        min-width: 30%;
    }
}

@media screen and (max-width: 650px) { 
    body {
        font-size: 20px
    }
}

@media screen and (max-width: 320px) { 
    body {
        font-size: 18px
    }
}


