@media screen and (min-width: 1200px) { 
    .slick-slider .slick-dots {
        position: absolute;
        bottom: 15px;
    }
    * {
        font-size: 28px;
    }
}

@media screen and (min-width: 1024px) { 
    * {
        font-size: 24px;
    }
}

@media screen and (max-width: 1024px) { 
    .gallery-item {
        width: 33.333%;
        height: 150px;
    }
}

@media screen and (min-width: 650px) { 
    .sign-in {
        min-width: 30%;
    }
    * {
        font-size: 22px
    }
}




